@import "compass/css3/box-sizing";
@import "compass/utilities/general/clearfix";

// Variable setup mixin.
//
// Pass a list of column modifiers you intend to use.
//
// "span": centered column of X size
// "of": centered column of 1/X the container width
// "offset": offset column by X columns (with margin)
// "move": move column by X columns (via left/right)
// "rtl": use LTR/RTL to dictate left/right direction
//
// @param string $uses... The list of modifiers to use.

@mixin gridstrap-use($uses...) {
	// Default all to false
	$gridstrap-use-span:   false;
	$gridstrap-use-of:     false;
	$gridstrap-use-offset: false;
	$gridstrap-use-push:   false;
	$gridstrap-use-pull:   false;
	$gridstrap-use-rtl:    false;

	// If first $use isn"t "all"...
	@if nth($uses, 1) != "all" {
		// Loop through and set matched options to true
		@each $use in $uses {
			@if $use == "span" {
				$gridstrap-use-span:   true;
			} @else if $use == "of" {
				$gridstrap-use-of:   true;
			} @else if $use == "offset" {
				$gridstrap-use-offset:   true;
			} @else if $use == "move" {
				$gridstrap-use-push:   true;
				$gridstrap-use-pull:   true;
			} @else if $use == "rtl" {
				$gridstrap-use-rtl:   true;
			}
		}
	} @else {
		// Make all true
		$gridstrap-use-span:   true;
		$gridstrap-use-of:     true;
		$gridstrap-use-offset: true;
		$gridstrap-use-push:   true;
		$gridstrap-use-pull:   true;
		$gridstrap-use-rtl:    true;
	}
}

// Internal Use.
// Sets up placeholders and contianer/row styling.

@mixin gridstrap-base {
	*, *:before, *:after {
		@include box-sizing(border-box);
	}

	%gridstrap-padding {
		padding-left: $gridstrap-gutter * .5;
		padding-right: $gridstrap-gutter * .5;
	}

	%gridstrap-col {
		@extend %gridstrap-padding;
		position: relative;
		min-height: 1px;

		@if $gridstrap-use-rtl {
			.ltr &{
				float: left;
			}
			.rtl &{
				float: right;
			}
		}
		@else {
			float: left;
		}
	}

	%gridstrap-span {
		@extend %gridstrap-padding;
		margin-left: auto;
		margin-right: auto;
	}

	%gridstrap-clearfix {
		@include pie-clearfix();
	}

	.container,
	.container-fluid {
		@extend %gridstrap-clearfix, %gridstrap-padding;
		position: relative;
		margin-left: auto;
		margin-right: auto;
	}

	.row {
		@extend %gridstrap-clearfix;
		margin-left: $gridstrap-gutter * -.5;
		margin-right: $gridstrap-gutter * -.5;
	}
}

// Setup the base styling for columns/spans
//
// Applies $midfix to class names if present.
// e.g. "sm" > .col-sm-X
//
// @param string $midfix Optional The midfix to use on the classes

@mixin gridstrap-setup-columns($midfix:"") {
	@if $midfix != "" {
		$midfix: $midfix + "-";
	}

	@for $i from 1 through $gridstrap-cols {
		.col-#{$midfix}#{$i} {
			@extend %gridstrap-col;
		}

		@if $gridstrap-use-span {
			.span-#{$midfix}#{$i} {
				@extend %gridstrap-span;
			}
		}
	}
}

// Sets the actual sizing for the columns/spans/ofs,
// and modifiers
//
// Applies $midfix to class names if present.
// e.g. "sm" > .col-sm-X
//
// @param string $midfix Optional The midfix to use on the classes

@mixin gridstrap-build-columns($midfix: "") {
	@if $midfix != "" {
		$midfix: $midfix + "-";
	}

	// Add classes/modifiers for each column number
	@for $i from 1 through $gridstrap-cols {
		$gs-col-width: ($i / $gridstrap-cols) * 100%;

		.col-#{$midfix}#{$i} {
			width: $gs-col-width;
		}

		@if $gridstrap-use-span {
			.span-#{$midfix}#{$i} {
				width: $gs-col-width;
			}
		}

		@if $gridstrap-use-of {
			.of-#{$midfix}#{$i} {
				width: 100% / $i;
			}
		}

		// No modifiers for final column
		@if $i < $gridstrap-cols {
			@if $gridstrap-use-offset {
				.offset-#{$midfix}#{$i} {
					@if $gridstrap-use-rtl {
						.ltr &{
							margin-left: $gs-col-width;
						}
						.rtl &{
							margin-right: $gs-col-width;
						}
					}
					@else {
						margin-left: $gs-col-width;
					}
				}
			}
			@if $gridstrap-use-push {
				.push-#{$midfix}#{$i} {
					@if $gridstrap-use-rtl {
						.ltr &{
							left: $gs-col-width;
						}
						.rtl &{
							right: $gs-col-width;
						}
					}
					@else {
						left: $gs-col-width;
					}
				}
			}
			@if $gridstrap-use-pull {
				.pull-#{$midfix}#{$i} {
					@if $gridstrap-use-rtl {
						.ltr &{
							right: $gs-col-width;
						}
						.rtl &{
							left: $gs-col-width;
						}
					}
					@else {
						right: $gs-col-width;
					}
				}
			}
		}
	}

	// Add resets
	@if $gridstrap-use-offset {
		.offset-#{$midfix}0 {
			@if $gridstrap-use-rtl {
				.ltr &{
					margin-left: 0;
				}
				.rtl &{
					margin-right: 0;
				}
			}
			@else {
				margin-left: 0;
			}
		}
	}
	@if $gridstrap-use-push {
		.push-#{$midfix}0 {
			@if $gridstrap-use-rtl {
				.ltr &{
					left: 0;
				}
				.rtl &{
					right: 0;
				}
			}
			@else {
				left: 0;
			}
		}
	}
	@if $gridstrap-use-pull {
		.pull-#{$midfix}0 {
			@if $gridstrap-use-rtl {
				.ltr &{
					right: 0;
				}
				.rtl &{
					left: 0;
				}
			}
			@else {
				right: 0;
			}
		}
	}
}