// Column/Gutter values
$gridstrap-cols:       12 !default;
$gridstrap-gutter:     30px !default;

// Span and Modifer class options
$gridstrap-use-span:   true !default;
$gridstrap-use-of:     true !default;
$gridstrap-use-offset: true !default;
$gridstrap-use-push:   true !default;
$gridstrap-use-pull:   true !default;